extends layout
block content
	:markdown
		About 
		-----


		I wanted a tool which could share youtube videos with friends
		while I was talking to them on Skype.
		
		I also wanted to be able to bookmark certain moments inside clips so 
		that I could quickly jump to the important sequences.

		After a couple of weeks of development, this is the result.

		The project is open source and you can check out the source code at
		[here](https://github.com/codeboost/Wewatch)

