extends layout
block content
	:markdown
		What is this ?
		---------------

		This is a service which allows you to create youtube broadcasts, which can be
		watched by multiple people at the same time.
		Every seek or video change is immediately reflected for everyone.

		How does it work ?
		------------------

		You start by creating a room. 
		Then you add videos to the playlist, create bookmarks and when you're ready, distribute
		the room link to the people you'd like to present to.
		During the session, you can engage with your audience through text chat.

		