extends layout
block scripts
	- if(isProduction)
		script(src='/compiled.min.js')
	- else
		script(src='/vendor/jquery-1.7.1.min.js')
		script(src='/vendor/module.js')
		script(src='/js/utils.js')
		script(src='/js/index.js')

	script
		require('index').start();	

block content
	section(id='url')
		.row
			.span12.well
				.row
					.span12
						h3 Enter a Youtube URL
				.row
					form.you(action='javascript:false', method='post')
						.span8
							input.span8(type='text', name='url', style='height: 25px; font-size: 20px;') 
						.span4						
							button.btn.large.primary(type='submit') Watch!
				.row.err-message.hidden
					.span8
						.alert.alert-error Not a valid youtube URL
					.span4
						&nbsp;

	section(id='help')
		.row
			.span4
				h3 What is this ?
				p Wewatch.me allows you to watch youtube videos simultaneously with other people. 
				| When you scroll, pause and play the video, everyone's video will scroll, pause or play at the same time.
				| No registration required, just use it.

			.span4
				h3 Why ?
				p You can use it during a Skype or phone call to discuss interesting clips.

			.span4
				h3 How ?
				ul 
					li Enter a youtube URL in the box above.
					li Click the 'Watch!' button. A new page opens, with your video in it.
					li Send the new URL to the people you want to watch the video with.



