!!! 5
html
	head
		title We watch
		link(rel='stylesheet', type='text/css', href='/css/bootstrap-2.0.css')
		block scripts
			script(src='/js/lib/jquery-1.7.1.min.js')

body
	.navbar.navbar-fixed
		.navbar-inner
			.container
				a.brand Wewatch
				p Watch youtube together

	.container#main-container(style='margin-top: 50px')
		block content
	
	block templates