extends layout
block scripts
	link(rel='stylesheet', type='text/css', href='/css/w.css')

	script
		WWM = {}
		WWM.session =  {
			docid: '#{session.docid}',
			_id: '#{session._id}'
		}
		WWM.user = {
			_id: '#{user._id}'
		}

	- if(isProduction){
		script(src='/compiled.min.js')
	- } else {
		script(src='/vendor/jquery-1.7.1.min.js')
		script(src='/vendor/console-dummy.js')
		script(src='/vendor/underscore.js')
		script(src='/vendor/backbone-0.5.3.js')		
		script(src='/socket.io/socket.io.js')
		script(src='/vendor/module.js')
		script(src='/skull.io/skull.io.js')
		script(src='/js/utils.js')	
		script(src='/js/models.js')	
		script(src='/js/playlist.js')	
		script(src='/js/search.js')	
		script(src='/js/app.js')	
		- }
	script
		require('app').start();

			
block content
	.row
		.span4
			.video-title
		.span4
			&nbsp;	
	.row
		.span8		
			.row
				.span8
					#player
			.row
				.span4 
					&nbsp;
				.span4
					h3.viewers

		.span4
			.row
				.span4
					.well.search-view
						h4 Add video:
						input.search-video(type='text')
						.search-place.span4(style='margin-left: 0; overflow-y: auto; height: 200px')
							table.search-results(width='100%')
			.row
				.span4
					table.playlist(width='100%')

	

	


	script#one-search-item(type='template')
		td(width='60')
			img.thumb(src='{{thumbnail}}')
		td	
			h4.video-title	{{title}}
		
	script#one-play-item(type='template')
		td(width='140')
			.thumbnail
				img(src='{{thumbnail}}')
				.vote-button

		td(valign='top', align='left')
			h4.video-title	{{title}}
			.author {{uploader}}
			.views {{viewCount}} views
		td(valign='middle')
			h3.vote-count {{voters? voters.length : 0}}

		














